@charset "UTF-8";

/**
 * Основные стили
 **/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: $black;
}

body {
  font-family: 'pf_beausans', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1170px, 15px);
}