@charset "UTF-8";

/**
 * Основные стили
 **/

* {
  box-sizing: border-box;
}
button {
  outline: none;
}

html {
  font-size: 16px;
  color: $black;
}

body {
  font-family: 'pf_beausans', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $buttonBg;
  text-decoration: underline;
  &:hover {
    color: $buttonBgHover;
  }
  &:active {
    color: $buttonBgActive;
  }
  &:visited {
    //color: $primary;
  }
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
  color: $black;
}

.container {
  @include min-max(320px, 100%, 0);
}

.wrap {
  @include min-max(320px, 1170px, 15px);
}

.container__services {
  margin: 50px 0;
}

.container__stage {
  margin: 50px 0 30px;
  padding-bottom: 30px;
}

.container__case {
  margin: 50px 0;
}

.container__work {
  margin: 50px 0;
}

.container__form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container__knowledge-base {
  margin: 50px 0;
}

.sticky-wrapper {
  height: 60px !important;
}

@media (min-width: 480px) {
  .sticky-wrapper {
    height: 81px !important;
  }
}

@media (min-width: 780px) {
  .sticky-wrapper {
    height: 176px !important;
  }
}

@media (min-width: 980px) {
  .container__stage {
    padding-bottom: 50px;
  }
}