$fontsPath: '../fonts/';
$imgPath: '../img/';

$white: #fff;
$black: #212121;
$primary: #343951;
$second: #F4F6FE;

$accent: #F44336;

$gray: #757575;
$lightGray: #BDBDBD;
$grayBlock: #F6F6F6;

$buttonBg: #03A9F4;
$buttonBgHover: #076EA6;
$buttonBgActive: #84D6FB;

$boxShadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$boxShadowHover: blur(20px);

$green: #58BC68;