$fontsPath: '../fonts/';
$imgPath: '../img/';

$white: #fff;
$black: #000;
$primary: #343951;
$second: #F4F6FE;
$thirty: #E5E9EC;

$accent: #F44336;

$buttonBg: #03A9F4;
$buttonBgHover: #0288D1;
$buttonBgActive: #B3E5FC;

$boxShadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$boxShadowHover: blur(20px);