.about-us {
  background: $white;
}

.about-us__block {
  margin-top: 20px;
}

.about-us__garanty {
  margin: 25px 0;
}

.about-us__team {
  margin: 25px 0;
}

@media (min-width: 580px) {
  .about-us__block {
    display: flex;
  }
  .about-us__left {
    flex-grow: 1;
    margin-right: 20px;
  }
  .about-us__right {
    flex-basis: 220px;
    flex-shrink: 0;
  }
  .about-us__team {
    margin: 0 0 25px;
  }
}

@media (min-width: 980px) {
  .about-us__block {
    display: flex;
  }
  .about-us__left {
    margin-right: 30px;
    p {
      font-size: px-to-rem(17px);
      line-height: px-to-rem(27px);
    }
  }
  .about-us__right {
    flex-basis: 270px;
  }
  .about-us__team {
    margin: 0 0 25px;
  }

  .about-us__numbers {
    margin: 25px 0 35px;
  }
}