.article-theme {
  background: $grayBlock;
  border-radius: 10px;
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

a.article-theme__link {
  display: block;
  border-bottom: none;
  box-shadow: $boxShadow;
  border-radius: 10px;
  padding-bottom: 1px;
  &:hover {
    box-shadow: $boxShadowHover;
    .article-theme__title {
      color: $buttonBgHover;
    }
  }
  &:active {
    .article-theme__title {
      color: $buttonBgActive;
    }
  }
}

.article-theme__title {
  font-size: px-to-rem(15px);
  line-height: px-to-rem(18px);
  color: $buttonBg;
  display: block;
  margin: 10px 15px;
}

.article-theme__status {
  font-size: px-to-rem(12px);
  line-height: px-to-rem(20px);
  color: $gray;
  display: block;
  margin: 10px 15px;
}

@media (min-width: 560px) {
  .article-theme--left {
    float: left;
    width: 220px;
    margin-top: 7px;
    margin-right: 20px;
  }
  .article-theme--right {
    float: right;
    width: 220px;
    margin-top: 7px;
    margin-left: 20px;
  }
}

@media (min-width: 1170px) {
  .article-theme--left, .article-theme--right {
    width: 270px;
  }
  .article-theme__title {
    font-size: px-to-rem(16px);
    line-height: px-to-rem(18px);
  }
  .article-theme__status {
    font-size: px-to-rem(14px);
  }
}