.carousel, .case__carousel, .documents__carousel {
  position: relative;
  .owl-nav {
    button.disabled {
      display: none;
    }
    button.owl-next {
      cursor: pointer;
      width: 45px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      //background: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      margin: 0;
      &:hover {
        //background: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        background: none;
      }
    }
    button.owl-prev {
      cursor: pointer;
      width: 45px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(-1, -1);
      //background: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      margin: 0;
      &:hover {
        //background: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        background: none;
      }
    }
    button {
      .arrow {
        display: block;
        fill: $buttonBg;
        margin-left: auto;
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, .25));
      }
      &:hover {
        .arrow {
          fill: $buttonBgHover;
        }
      }
      &:active {
        .arrow {
          fill: $buttonBgActive;
        }
      }
    }
  }
}

.carousel__item {
  //width: 236px;
  background: url(#{$imgPath}leaf.png) center top no-repeat $grayBlock;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 15px 15px 15px;
  margin: 15px 7px;
}

.carousel__btn {
  @include btn();
  margin: 10px auto;
  font-size: px-to-rem(16px);
  line-height: px-to-rem(19px);
  padding-left: 25px;
  padding-right: 35px;
}

.carousel__title {
  font-size: px-to-rem(20px);
  line-height: px-to-rem(24px);
  font-weight: 600;
  &::after {
    content: '';
    width: 70px;
    height: 1px;
    background-color: $accent;
    display: block;
    margin-top: 20px;
  }
}

.carousel__text {
  font-size: px-to-rem(14px);
  line-height: px-to-rem(17px);
  margin: 25px 0;
}

.carousel__price {
  font-size: px-to-rem(18px);
  line-height: px-to-rem(22px);
  color: $black;
  font-weight: 600;
  text-align: center;
  margin: 25px 0 10px;
}

.carousel__link {
  font-size: px-to-rem(16px);
  line-height: px-to-rem(19px);
  text-align: center;
  font-weight: 600;
  a {
    color: $black;
    text-decoration: none;
    span {
      border-bottom: 1px solid $black;
    }
    &:hover {
      color: $buttonBg;
      span {
        border-bottom-color: $buttonBg;
      }
    }
    &:active {
      color: $buttonBgActive;
      span {
        border-bottom-color: $buttonBgActive;
      }
    }
  }
}

.carousel__note {
  font-size: px-to-rem(12px);
  line-height: px-to-rem(14px);
  margin: 20px 0;
}

@media (min-width: 480px) {
  .carousel__item {
    //width: 300px;
  }
  .carousel__title {
    font-size: px-to-rem(24px);
    line-height: px-to-rem(29px);
  }
  .carousel__text {
    font-size: px-to-rem(18px);
    line-height: px-to-rem(22px);
  }
  .carousel__price {
    font-size: px-to-rem(22px);
    line-height: px-to-rem(26px);
  }
  .carousel__btn {
    font-size: px-to-rem(20px);
    line-height: px-to-rem(24px);
  }
  .carousel__link {
    font-size: px-to-rem(18px);
    line-height: px-to-rem(22px);
  }
}

@media (min-width: 980px) {
  .carousel__item {
    //width: 355px;
    margin: 15px 10px;
    padding-left: 27px;
  }
  .carousel__title {
    &::after {
      display: none;
    }
  }
  .carousel__text {
    padding-left: 26px;
    background: url(#{$imgPath}bullet.svg) left 5px no-repeat;
  }
}