.content {
  display: flex;
  flex-direction: column;
}

.content__left {
  order: 2;
}

.content__right {
  order: 1;
  margin: 20px 0;
}

p.content__preview {
  color: $gray;
  font-size: px-to-rem(12px);
  line-height: px-to-rem(18px);
  margin-top: 15px;
}

.content__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
}

.content__comments {
  a {
    font-size: px-to-rem(10px);
    line-height: px-to-rem(12px);
    color: $gray;
    text-decoration: none;
    padding: 3px 0 3px 25px;
    background: url(#{$imgPath}comment.svg) left 1px / 18px no-repeat;
    display: inline-block;
    border-bottom: none;
    &:hover {
      color: $buttonBgHover;
      span {
        border-bottom-color: $buttonBgHover;
      }
    }
    &:active {
      color: $buttonBgActive;
      border-bottom-color: $buttonBgActive;
    }
  }
  span {
    border-bottom: 1px dashed $gray;
  }
}

.content__share {
  display: flex;
  align-items: center;
  p {
    margin: 0 5px 0 0;
    font-size: px-to-rem(10px);
    line-height: px-to-rem(12px);
    color: $gray;
  }
  ul {
    background: none;
    margin: 0;
    padding: 0;
    li {
      padding-left: 0;
      &::after {
        display: none;
      }
      a {
        border-bottom: none;
      }
      .ya-share2__badge {
        border-radius: 50%;
      }
    }
  }
}

.content__share--bottom {
  display: block;
  text-align: right;
  p {
    margin: 0 0 5px 0;
  }
}

.content__img {
  margin: 15px 0;

  p {
    font-size: px-to-rem(10px);
    line-height: px-to-rem(12px);
    margin: 10px 0;
    color: $gray;
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
  a {
    display: block;
    position: relative;
    border-bottom: none;
    &::before {
      content: '';
      background: rgba(2, 2, 2, 0.2);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 10px;
      opacity: 0;
      transition-duration: 500ms;
      transition-property: opacity;
    }
    &::after {
      content: '';
      background: url(#{$imgPath}zoom.svg) no-repeat center;
      width: 37px;
      height: 37px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      opacity: 0;
      transition-duration: 500ms;
      transition-property: opacity;
    }
    &:hover {
      &::before, &::after {
        opacity: 1;
      }
    }
  }
}

.content__file {
  margin: 15px 0;
}

.content__btn {
  @include btn();
  max-width: 263px;
  font-size: px-to-rem(16px);
  line-height: px-to-rem(19px);
  padding-left: 40px;
  margin: 15px auto;
}

a.content__link--dashed {
  border-bottom: none;
  span {
    border-bottom: 1px dashed $buttonBg;
  }
  &:hover {
    span {
      border-bottom-color: $buttonBgHover;
    }
  }
  &:active {
    span {
      border-bottom-color: $buttonBgActive;
    }
  }
}

.content__warning {
  margin: 20px 0;
}

.content__table {
  margin: 20px 0;
}

.content__form-article {
  background-color: $second;
  border-radius: 10px;
  padding: 25px;
  margin: 20px 0;
}

.content__example {
  margin: 20px 0;
}

.content__lawyer {
  margin: 20px 0;
}

.content__vote {
  margin: 20px 0;
}

.content__documents {
  width: calc(100% + 15px);
  margin: 20px 0;
}

.content__article-theme {
  margin: 20px 0;
}

.content__question-theme {
  margin: 20px 0;
}

.content__turn {
  margin: 20px 0;
}

.content__themes {
  margin: 20px 0;
}

.content__information {
  display: flex;
  margin: 20px 0;
}

.content__author {
  display: flex;
  align-items: center;
  div {
    margin-left: 10px;
  }
  img {
    flex-shrink: 0;
  }
  p {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(17px);
    margin: 0;
    color: $buttonBg;
    &:first-child {
      font-size: px-to-rem(12px);
      line-height: px-to-rem(14px);
      color: $gray;
    }
  }
}

@media (min-width: 480px) {
  p.content__preview {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(22px);
  }
  .content__comments {
    a {
      background-position: left center;
      font-size: px-to-rem(14px);
      line-height: px-to-rem(17px);
    }
  }
  .content__share {
    p {
      font-size: px-to-rem(14px);
      line-height: px-to-rem(17px);
    }
    .ya-share2__container_size_s {
      .ya-share2__icon {
        width: 22px;
        height: 22px;
      }
    }
  }
  .content__share--bottom {
    display: flex;
    p {
      margin-right: 10px;
      margin-top: 1px;
    }
  }
  .content__img {
    p {
      font-size: px-to-rem(16px);
    }
  }
}

@media (min-width: 560px) {
  .content__img--left {
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-top: 7px;
    margin-bottom: 0;
    p {
      font-size: px-to-rem(12px);
    }
  }
  .content__img--right {
    width: 220px;
    float: right;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 0;
    p {
      font-size: px-to-rem(12px);
    }
  }
}

@media (min-width: 780px) {
  .content__right {
    margin-top: 35px;
  }
  .content__img {
    p {
      margin: 20px 0;
    }
  }
  .content__btn {
   margin: 20px auto;
  }
  .content__table {
    margin: 25px 0;
  }
  .content__form-article {
    margin: 25px 0;
  }
  .content__warning {
    margin: 25px 0;
  }
  .content__example {
    margin: 25px 0;
  }
  .content__lawyer {
    margin: 25px 0;
  }
  .content__documents {
    margin: 25px 0;
  }
  .content__author {
    p {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(19px);
    }
  }
  .content__share--bottom {
    .ya-share2__container_size_s {
      .ya-share2__icon {
        width: 28px;
        height: 28px;
      }
    }
    p {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

@media (min-width: 1170px) {
  .content {
    flex-direction: row;
  }
  .content__left {
    order: 1;
    margin-right: 30px;
    flex-basis: calc(100% - 370px - 30px);
  }
  .content__right {
    order: 2;
    flex-basis: 370px;
    align-self: flex-start;
    margin-top: 20px;
    flex-shrink: 0;
  }
  .content__documents {
    max-width: 740px;
    flex-basis: 740px;
  }
  p.content__preview {
    font-size: px-to-rem(17px);
    line-height: px-to-rem(28px);
  }
  .content__comments {
    a {
      font-size: px-to-rem(17px);
      line-height: px-to-rem(22px);
    }
  }
  .content__share {
    p {
      font-size: px-to-rem(17px);
      line-height: px-to-rem(22px);
    }
    .ya-share2__container_size_s .ya-share2__icon {
      width: 28px;
      height: 28px;
    }
  }
  .content__img {
    p {
      margin: 20px 0 30px;
    }
  }
  .content__btn {
    margin: 30px auto;
  }
  .content__table {
    margin: 35px 0;
  }
  .content__form-article {
    margin: 35px 0;
  }
  .content__warning {
    margin: 35px 0;
  }
  .content__example {
    margin: 35px 0;
  }
  .content__lawyer {
    margin: 35px 0;
  }
  .content__documents {
    margin: 35px 0;
  }
  .content__information {
    margin: 30px 0;
  }
  .content__img--left, .content__img--right {
    width: 270px;
    p {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(28px);
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}