.contacts {

}

.contacts__carousel {
  margin: 20px 0 30px;
  max-width: 1140px;
}

.contacts__text {
  margin-bottom: 20px;
  p {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(17px);
    color: $gray;
    margin-bottom: 5px;
  }
  .contacts__phone {
    font-size: px-to-rem(22px);
    line-height: px-to-rem(22px);
    color: $primary;
    font-weight: 700;
    border-bottom: none;
  }
  .contacts__mail {
    a {
      border-bottom: none;
    }
  }
}

.contacts__office {
  margin-bottom: 20px;
  p {
    font-size: px-to-rem(19px);
    line-height: px-to-rem(23px);
    color: $primary;
    font-weight: 700;
    > span {
      margin-right: 15px;
    }
  }
  a {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(17px);
    border-bottom: none;
    font-weight: 400;
    span {
      border-bottom: 1px dashed $buttonBg;
    }
  }
}

.contacts__address {
  margin-bottom: 20px;
  p {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(22px);
    > span {
      margin-right: 15px;
    }
  }
  a {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(17px);
    border-bottom: none;
    font-weight: 400;
    span {
      border-bottom: 1px dashed $buttonBg;
    }
  }
}

.contacts__work-time {
  margin-bottom: 20px;
  p {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(22px);
    color: $gray;
  }
  span {
    color: $black;
  }
}

@media (min-width: 480px) {
  .contacts__text {
    p {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(19px);
    }
  }
  .contacts__office {
    p {
      font-size: px-to-rem(26px);
      line-height: px-to-rem(31px);
    }
    a {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(19px);
    }
  }
  .contacts__address {
    margin-bottom: 0;
    p {
      margin-bottom: 5px;
    }
    a {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(19px);
    }
  }
  .contacts__address, .contacts__work-time {
    p {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(19px);
    }
  }
}

@media (min-width: 980px) {
  .contacts__text {
    p {
      font-size: px-to-rem(17px);
      line-height: px-to-rem(22px);
    }
  }
  .contacts__office {
    p {
      font-size: px-to-rem(30px);
      line-height: px-to-rem(36px);
    }
    a {
      font-size: px-to-rem(17px);
      line-height: px-to-rem(22px);
    }
  }
  .contacts__address {
    a {
      font-size: px-to-rem(17px);
      line-height: px-to-rem(22px);
    }
  }
  .contacts__address, .contacts__work-time {
    p {
      font-size: px-to-rem(17px);
      line-height: px-to-rem(22px);
    }
  }
}