p.content__preview {
  color: $gray;
  font-size: px-to-rem(12px);
  line-height: px-to-rem(18px);
  margin-top: 15px;
}

.content__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
}

.content__comments {
  a {
    font-size: px-to-rem(10px);
    line-height: px-to-rem(12px);
    color: $gray;
    text-decoration: none;
    padding: 3px 0 3px 25px;
    background: url(#{$imgPath}comment.svg) left 1px / 18px no-repeat;
    display: inline-block;
    border-bottom: none;
    &:hover {
      color: $buttonBgHover;
      span {
        border-bottom-color: $buttonBgHover;
      }
    }
    &:active {
      color: $buttonBgActive;
      border-bottom-color: $buttonBgActive;
    }
  }
  span {
    border-bottom: 1px dashed $gray;
  }
}

.content__share {
  p {
    margin: 0;
    font-size: px-to-rem(10px);
    line-height: px-to-rem(12px);
    color: $gray;
  }
}

.content__img {
  margin: 15px 0;

  p {
    font-size: px-to-rem(10px);
    line-height: px-to-rem(12px);
    margin: 10px 0;
    color: $gray;
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
}

.content__file {
  margin: 15px 0;
}

.content__btn {
  @include btn();
  max-width: 263px;
  font-size: px-to-rem(16px);
  line-height: px-to-rem(19px);
  padding-left: 40px;
  margin: 15px auto;
}

a.content__link--dashed {
  border-bottom: none;
  span {
    border-bottom: 1px dashed $buttonBg;
  }
  &:hover {
    span {
      border-bottom-color: $buttonBgHover;
    }
  }
  &:active {
    span {
      border-bottom-color: $buttonBgActive;
    }
  }
}

.content__table {
  margin: 15px 0;
}

.content__form-article {
  background-color: $second;
  border-radius: 10px;
  padding: 25px;
  margin: 15px 0;
}