.menu {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(93.51deg, #E6E6FA 38.99%, #C5D0E6 90.99%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
  overflow-y: scroll;
}

.menu--active {
  display: block;
}

.menu__question {
  max-width: 220px;
  flex-basis: 100%;
}

.menu__button {
  @include btn();
  margin-left: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 18px;
}

.menu__title {
  font-size: px-to-rem(17px);
  line-height: px-to-rem(22px);
  font-weight: 600;
  color: $primary;
  margin: 10px 0;
}

.menu__text {
  font-size: px-to-rem(14px);
  line-height: px-to-rem(17px);
  margin: 10px 0;
  color: $gray;
  font-weight: 400;
}

.menu__btn {
  @include btn();
  margin: 10px 0;
  font-size: px-to-rem(17px);
  line-height: px-to-rem(22px);
  padding-left: 25px;
  padding-right: 35px;
  text-decoration: none;
  max-width: 195px;
  &:hover {
    color: $white;
  }
}

.menu__search {
  font-size: px-to-rem(17px);
  line-height: px-to-rem(22px);
  text-decoration: none;
  padding: 8px 15px 8px 45px;
  text-align: left;
  display: block;
  cursor: pointer;
  margin: 25px 0;
  max-width: 195px;
  border: 2px solid $buttonBg;
  color: $buttonBg;
  border-radius: 10px;
  box-sizing: border-box;
  background: url(#{$imgPath}search.svg) 15px center no-repeat;
  &:hover {
    border-color: $buttonBgHover;
    background-color: $buttonBgHover;
    color: $white;
  }
  &:active {
    border-color: $buttonBgActive;
    background-color: $buttonBgActive;
  }
}

.menu__switch {
  background: $lightGray;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  button {
    font-size: px-to-rem(17px);
    line-height: px-to-rem(22px);
    color: $primary;
    padding: 4px 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    flex-basis: 50%;
    border-radius: 10px;
    background: none;
    cursor: pointer;
  }
  .active {
    background: #A6C3EC;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    padding: 6px 0;
    margin-top: -2px;
  }
}

.menu__link--hide {
  display: none;
}

.menu__sub {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__sub-list {
  list-style: none;
  padding: 0;
  flex-basis: 45%;
}

.menu__sub-item {
  margin: 5px 0;
  &:first-child {
    margin-top: 0;
  }
}

.menu__sub-item, .menu__right {
  font-size: px-to-rem(17px);
  line-height: px-to-rem(22px);
  font-weight: 600;
  .menu__link {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(18px);
    text-decoration: none;
    color: $primary;
    font-weight: 400;
    display: block;
    padding: 5px 0;
    position: relative;
    &:hover {
      color: $buttonBgHover;
    }
    &:active {
      color: $buttonBgActive;
    }
    &::after {
      background-color: #c5d0e6;
      width: 50px;
      height: 1px;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &:last-child {
    .menu__link {
      &::after {
        display: none;
      }
    }
  }
}

.menu__right {

  .menu__item {
    margin: 5px 0;
    &:first-child {
      margin-top: 0;
    }
    .menu__link {
      &::after {
        display: block;
      }
    }
    &:last-child {
      .menu__link {
        &::after {
          display: none;
        }
      }
    }
  }
}

.menu__right-block {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.menu__right {
  display: none;
}

.menu__close {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 30px;
  height: 30px;
  z-index: 5;
}

@media (min-width: 780px) {

  .menu {
    display: block;
    position: relative;
    z-index: 1;
    background: none;
    box-shadow: none;
    overflow-y: initial;
  }

  .menu__list {
    list-style: none;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: $primary;
    box-shadow: $boxShadow;
    border-radius: 10px;
    margin: 0;
    position: relative;
  }

  .is-sticky {
    .menu__list {
      border-radius: 0;
      max-width: 1170px;
      box-shadow: none;
      margin: 0 auto;
    }
    .menu__sub {
      top: 40px;
      padding-top: 10px;
    }
  }

  .menu__right, .menu__item {
    display: flex;
    .menu__link {
      text-decoration: none;
      font-size: px-to-rem(17px);
      line-height: px-to-rem(22px);
      padding: 9px 10px 6px;
      display: inline-block;
      color: $white;
      border-bottom: 3px solid transparent;
      &::after {
        display: none;
      }
      &:hover {
        color: $buttonBg;
        border-bottom-color: $buttonBg;
        .menu__arrow {
          fill: $buttonBg;
        }
      }
    }
  }

  .menu__right {
    .menu__item {
      margin: 0;
    }
  }

  .menu__sub {
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    top: 20px;
    background: linear-gradient(93.51deg, #E6E6FA 38.99%, #C5D0E6 90.99%);
    width: calc(100% + 30px);
    margin-left: -15px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: -1;
    box-shadow: $boxShadow;
    display: none;
  }

  .menu__sub-item {
    margin: 0;
    &:first-child {
      margin-bottom: 5px;
    }
  }

  .menu__sub-item, .menu__title {
    font-size: px-to-rem(20px);
    line-height: px-to-rem(24px);
  }

  .menu__text {
    font-size: px-to-rem(16px);
    line-height: px-to-rem(19px);
  }

  .menu__sub-list {
    flex-basis: 30%;
    .menu__sub-item {
      .menu__link {
        padding: 4px 0;
        color: $primary;
        border-bottom-color: transparent;
        &::after {
          display: block;
        }
        &:hover {
          color: $buttonBg;
        }
        &:active {
          color: $buttonBgActive;
        }
      }
      &:last-child {
        .menu__link {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .menu__item {
    &:hover {
      .menu__sub {
        display: flex;
      }
    }
  }

  .menu__switch {
    display: none;
  }

  .menu__button {
    display: none;
  }

  .menu__link--hide {
    display: block;
  }

  .menu__arrow {
    fill: $white;
    margin-bottom: 2px;
  }

  .menu__question {
    margin-top: 5px;
  }

  .menu__close {
    display: none;
  }

  .menu__right {
    display: block !important;
    .menu__question {
      display: none;
    }
    .menu__item {
      .menu__link {
        &::after {
          display: none;
        }
      }
    }
  }

  .menu__left {
    display: flex !important;
    .menu__item {
      &:nth-child(2) {
        display: none;
      }
    }
  }
  .menu__right-block {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
  }
}

@media (min-width: 980px) {
  .menu__link {
    font-size: px-to-rem(20px);
    line-height: px-to-rem(24px);
  }
  .menu__right, .menu__item {
    .menu__link {
      font-size: px-to-rem(20px);
      line-height: px-to-rem(24px);
      padding-top: 13px;
      padding-bottom: 10px;
    }
  }
  .menu__sub-item, .menu__title {
    font-size: px-to-rem(22px);
    line-height: px-to-rem(26px);
  }
  .menu__question {
    max-width: 250px;
  }
  .menu__text {
    font-size: px-to-rem(17px);
    line-height: px-to-rem(22px);
  }
  .menu__btn {
    font-size: px-to-rem(20px);
    line-height: px-to-rem(24px);
    max-width: 215px;
  }
  .menu__left {
    .menu__item {
      &:nth-child(2) {
        display: block;
      }
    }
  }
  .menu__search {
    max-width: 215px;
  }
  .is-sticky {
    .menu__sub {
      top: 50px;
    }
  }
}