.table-of-contents {
  background: #F7F7F7;
  box-shadow: $boxShadow;
  border-radius: 10px;
  position: relative;
  &::after {
    background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, rgba(167, 167, 167, 0.6) 100%);
    height: 48px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    border-radius: 0 0 6px 6px;
  }
}

.table-of-contents--active {
  ol.table-of-contents__list {
    height: 100%;
  }
  &::after {
    display: none;
  }
}

p.table-of-contents__title {
  font-size: px-to-rem(16px);
  line-height: px-to-rem(20px);
  color: $black;
  padding: 10px 20px 10px 30px;
  background-color: $white;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  cursor: pointer;
  span {
    padding-right: 20px;
    background: url(#{$imgPath}table-of-content-arrow.svg) right center no-repeat;
  }
}

ol.table-of-contents__list {
  height: 70px;
  margin-bottom: 0;
  overflow: hidden;
  li {
    padding-left: 30px;
    &::before {
      background: none;
      color: $buttonBg;
      content: counter(myCounter);
      width: auto;
      left: 7px;
    }
    > ol {
      padding-left: 0;
      margin-bottom: 0;
      counter-reset: subCounter;
      li {
        &::before {
          left: 0;
          counter-increment: subCounter;
          content: counter(myCounter)'.'counter(subCounter);
        }
      }
    }
    &:last-child {
      margin-bottom: 5px;
    }
  }
  a {
    font-size: px-to-rem(14px);
    line-height: px-to-rem(17px);
    text-decoration: none;
    color: $black;
    border: none;
  }
}

@media (min-width: 480px) {
  p.table-of-contents__title {
    font-size: px-to-rem(20px);
    line-height: px-to-rem(24px);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  ol.table-of-contents__list {
    a {
      font-size: px-to-rem(16px);
      line-height: px-to-rem(19px);
    }
  }
}

@media (min-width: 1170px) {
  .table-of-contents {
    &::after {
      display: none;
    }
  }
  ol.table-of-contents__list {
    height: auto;
    padding-left: 35px;
    li {
      margin: 10px 0;
      &::before {
        left: -20px;
        top: 5px;
        padding-left: 20px;
        font-size: px-to-rem(17px);
        line-height: px-to-rem(20px);
      }
      &::after {
        content: "→";
        position: absolute;
        left: -20px;
        top: 0;
        color: $buttonBg;
        font-weight: 600;
        display: none;
      }
      a {
        font-size: px-to-rem(17px);
        line-height: px-to-rem(20px);
      }
      > ol {
        li {
          padding-left: 35px;
          &::before {
            left: -20px;
          }
        }
      }
      &:hover {
        &::after {
          display: block;
        }
      }
    }
    li.table-of-contents__element--active {
      &::after {
        display: block;
      }
      a {
        color: $buttonBgHover;
        &:active {
          color: $buttonBgActive;
        }
      }
    }
  }
  p.table-of-contents__title {
    padding-left: 35px;
    cursor: default;
  }
}