.turn {
  background-color: $grayBlock;
  border-radius: 10px;
  box-shadow: $boxShadow;
}

p.turn__title {
  background: $second;
  border-radius: 10px 10px 0px 0px;
  font-size: px-to-rem(16px);
  line-height: px-to-rem(28px);
  padding: 6px 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.turn__bottom {
  padding: 10px 20px 1px;
}

.turn__item {
  margin: 0 0 15px 0;
  font-size: px-to-rem(15px);
  line-height: px-to-rem(20px);
  a {
    border-bottom: none;
  }
  span {
    color: $black;
  }
}

@media (min-width: 560px) {
  .turn--left {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-top: 7px;
  }
  .turn--right {
    width: 300px;
    float: right;
    margin-left: 20px;
    margin-top: 7px;
  }
}


@media (min-width: 780px) {
  .turn__item {
    font-size: px-to-rem(16px);
    line-height: px-to-rem(18px);
  }
}

@media (min-width: 1170px) {
  .turn__item {
    margin-bottom: 20px;
  }
}