.warning {
  background-color: $grayBlock;
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
  p {
    margin: 15px 0;
  }
  &::before {
    content: '';
    width: 35px;
    height: 35px;
    background: url(#{$imgPath}warning-icon.svg) center no-repeat;
    position: absolute;
    left: -10px;
    top: -10px;
  }
}

@media (min-width: 780px) {
  .warning {
    padding-left: 45px;
    p {
      margin: 20px 0;
    }
    &::before {
      width: 55px;
      height: 55px;
      background-size: cover;
    }
  }
}